@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700|Lato:300,400,700,900|Sacramento&display=swap);

body {
    background-color: #fcfaf8;
    color: #252525;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

#navbarResponsive li a {
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    color: #c8d8d6;
    text-shadow: .125rem .125rem rgba(0, 0, 0, 0.5);
    transition: all .35s ease-in-out;
}

/* Added footer .fab:hover here to avoid repetition */

#navbarResponsive .active a,
#navbarResponsive li a:hover,
footer .fab:hover {
    color: #1ebba3;
}

.accordion-titles {
    color: #4e4e4e;
    font-weight: 400;
    margin-bottom: 0;
    text-decoration: none;
    text-shadow: .125rem .125rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.blockquote {
    font-size: .9rem;
    font-weight: 400;
}

.btn-back {
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    background-color: #ddd8d4;
    border: 0;
    border-radius: .25rem;
    color: #8b4513;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
}

.btn-info {
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    background-color: #8f4e12;
    border: 0;
    border-radius: .25rem;
    color: #fafafa;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all .35s ease-in-out;
}

.btn-info:hover,
.btn-back:hover {
    background-color: #ebe1c3;
    color: #8b4513;
}

.card {
    background-color: #fcfaf8;
}

.card-body p {
    text-align: justify;
}

/* Next three rules to create the hover efect on the acordion
cursor:pointer used because that was the only way to create a 
button effect and having block elements inside */

.card-header {
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: all .35s ease-in-out;
    background-color: #fafafa;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

.card-header .btn-link {
    text-decoration: none;
}

/* The rgb value is fallback for browsers not supporting transparency */
.card-header:hover {
    background-color: rgb(187, 131, 110);
    background-color: rgba(173, 92, 59, .4);
}

/* I gave the carousel a max width of 1160px (the width of the images) so the 
controls would stay in place when the image reached its full size */
.carousel-inner {
    max-width: 1160px;
}

.col-descriptions {
    text-align: justify;
    text-justify: auto;
}

.descriptions {
    margin: 1rem 0;
}

.first-rows {
    color: #000;
    padding-top: 6rem;
}

.footer-copyright {
    background-color: #8f4e12;
    color: #c8d8d6;
    font-size: .9rem;
    font-weight: 300;
    text-shadow: .125rem .125rem rgba(0, 0, 0, 0.5);
}

.footer-copyright p,
.footer-social {
    margin: 0;
}

.footer-text-cont {
    margin-top: 0;
    padding: 0;
}

.footer-top {
    background-color: #7a3636;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Use of "linear-gradient" for overlay from Stackoverflow.com */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/colle_2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* This overlay learned from Anna Greaves' MS1, eventually adapted to this project */
.hero-overlay {
    background: rgb(163, 163, 163);
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 25%;
    width: 100%;
}

.map-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
}

.map-responsive iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar {
    background: #7a3636;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* from https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
.navbar-brand img {
    -webkit-filter: drop-shadow(.125rem .125rem .125rem #222);
    filter: drop-shadow(.125rem .125rem .125rem #222);
    height: 4rem;
}

.overlay-text {
    color: #fafafa;
}

.price {
    background-color: #ddd8d4;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 2rem;
    text-transform: uppercase;
}

.second-home {
    font-family: "Josefin Slab", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.second-home-sm {
    font-size: 1.2rem;
}

.second-home-lg {
    font-size: 1.9rem;
}

.section-headers {
    color: #000;
}

.section-titles {
    color: #4e4e4e;
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    margin-top: 2rem;
    text-shadow: .125rem .125rem rgba(0, 0, 0, 0.1);
}

.small {
    color: #252525;
    font-size: 100%;
    font-weight: 400;
}

.text-footer {
    color: #c8d8d6;
    letter-spacing: .1rem;
    margin: 0;
    text-shadow: .125rem .125rem rgba(0, 0, 0, 0.5);
}

/* z-index: -1 prevents the user from interacting with the video controls */
.video {
    border-style: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* Video section's styling learned from Anna Greave's Milestone 1 project */
.video-wrapper {
    padding: 56.25% 0 0;
    position: relative;
}

.welcome {
    font-family: "Sacramento", cursive;
    text-shadow: 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}

.sm {
    font-size: 4rem;
}

.lg {
    font-size: 6rem;
}


footer .fab {
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    color: #c8d8d6;
    font-size: 2.5rem;
    margin: 2rem 1rem 0;
    text-shadow: .125rem .125rem rgba(0, 0, 0, 0.5);
    transition: all .35s ease-in-out;
}

input {
    border-color: #ced4da;
}

input:required:invalid {
    border-color: #c00000;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {

    .accordion-titles {
        font-size: 1.2rem;
    }

    .card-header p {
        font-size: 1.5rem;
    }

    .col-descriptions {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .footer-copyright {
        font-size: 1.1rem;
    }

    .footer-text-cont {
        padding-left: 2rem;
    }

    .navbar {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }

    .second-col {
        margin-left: 2rem;
    }

    body {
        font-size: 20px;
    }

    footer .fab {
        margin-top: 1rem;
    }

    .rounded-circle {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1024px) {

    .navbar,
    .accordion-titles {
        font-size: 1.4rem;
    }
}